body {
    font-family: Arial, sans-serif;
    background: #f2f6ff;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 30px;
    background: #4c6ef5;
    color: white;
}

.input-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

input {
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #7d8cff;
}

button {
    padding: 10px 15px;
    border: none;
    background: #4c6ef5;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #364fc7;
}

.daftar {
    width: 90%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#hasil {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 40px;
    padding: 15px;
    text-align: center;
    background: #4c6ef5;
    color: white;
}